:root {
  font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
  background-color: rgb(246, 246, 246);
}

.heading {
  font-size: 24px;
  font-weight: 500;
  max-width: 1000px;
}

.ds-table {
  /* padding + avatar + ...rest */
  max-width: calc(32px + 32px + 800px);
}

.ds-output {
  background-color: hsl(200, 3%, 19%);
  color: hsl(200, 3%, 60%);
  font-size: 12px;
}

.ds-output.filled {
  background-color: hsl(200, 3%, 19%);
  color: hsl(207, 40%, 84%);
}

.ds-table-body-card {
  background-color: #ffffff;
  display: flex;
  gap: 12px;
  border: #cccccc 1px solid;
  border-radius: 8px;
}

.ds-table-body-col-aspect {
  width: 100%;
  min-width: 80px;
  max-width: 100px;
  display: flex;
  align-items: center;
}

.ds-input {
  width: 100%;
  background-color: transparent;
  border: #cccccc 1px solid;
  border-radius: 4px;
}

.ds-input:hover {
  background-color: hsl(200, 100%, 97%);
}

.ds-table-body-col-name {
  min-width: calc(200px - 44px);
  flex: 1 0;
}

.ds-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
}

.ds-table-header {
  display: flex;
  gap: 12px;
}

.ds-table-header-col-empty {
  min-width: 200px;
  flex: 1 0;
}

.ds-table-header-col-aspect {
  min-width: 80px;
  max-width: 100px;
  font-size: 14px;
  text-align: center;
}

select.ds-input {
  cursor: pointer;
}

.ds-btn, .ds-btn[type="submit"] {
  background-color: hsl(200, 5%, 12%);
  color: #ffffff;
  min-width: 80px;
  height: 44px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.ds-btn, .ds-btn[type="submit"]:hover {
  background-color: hsl(200, 3%, 20%);
}

.ds-btn[type="submit"].clicked {
  background-color: hsl(200, 8%, 6%);
  /* color: #ffffff; */
}

.ds-footer {
  font-size: 12px;
  text-align: center;
}

.ds-footer .bigger {
  font-size: 18px;
}
